<a href="https://colab.research.google.com/github/carltafalla/CPEN21A-PLD-1-2/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Indention

In [1]:
if 5>3:
  print ("5 is greater that 3")  #This is a comment

5 is greater that 3

Variable Declaration

In [2]:
#variable with a single value
x=5
y=3
if x<y:
  print ("x is greater than y")
else:
  print ("y is greater than x")


#variable with multiple values

a,b = 1,2
print ("The value of a is:",a)
print ("The value of b is:",b)

y is greater than x
The value of a is: 1
The value of b is: 2

Casting and Type () Function

In [3]:
f = int(4)   #integer
g=float(4)   #decimal/functional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Double quote and Single quote

In [4]:
name = "Carl"
name1 = 'Lexster'
name2 = 'Tafalla'

print(name)
print(name1)
print(name2)

Carl
Lexster
Tafalla

Case Sensitive

In [5]:
a = 'Roll'
print(a)

Roll