<a href="https://colab.research.google.com/github/carltafalla/CPEN21A-PLD-1-2/blob/main/Python_Built_in_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Variables and Data Types

#Numbers
varNum = 123
pi = 3.14259

#String
varString = "Hello World"
varText = 'This is a string'

#Lists
varList = ["abs", 123]

#Tuples
varTuple = ('abc', 123,"HELLO")

#Dictionaries
var = 3
varDict = {'first':1, '2':'2nd',3:var}
varDict = {}
varDict ['first']=1
varDict['2'] = '2nd'
varDict[3] = var

In [8]:
#Arithmetic
 
#Addition
a = 5 + 3

#Subtraction
b = 5 - 3

#Multiplication
c = 5 * 3

#Exponent
d = 5 ** 3

#Division
e = 5 / 3
f = 5 % 3
g = 5 // 3

print (a,b,c,d,e,f,g)

8 2 15 125 1.6666666666666667 2 1

In [7]:
#Conditional Statements

#Boolean Conditions
x = True

if x:
  print ("var x is True")
else:
  print ("var x is False")

#String Conditions 
x = 'Hello World!'
if x=='Hello World!':
  print ("var x is Hello World!")
else:
  print("var x is not Hello World!")

#Numwrical Condeitions
x=10
if x == '10':
  print ("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var x is none of the above")

var x is True
var x is Hello World!
var x is an integer

In [6]:
#Loops

#For Loops
print ("For Loops")
for var in range(0,5,2):
 print(var)
 
#While Loops
print("Wile Loops")
var = 0
while var < 5:
  print(var)
  var +=2

#Nested Loops
print("Nested Loops")
x = 0 
while x <5:
  for y in range (0, x):
    print(y, end='')
  x+=1 
  print()

For Loops
0
2
4
Wile Loops
0
2
4
Nested Loops

0
01
012
0123

In [5]:
#Functions

def remainder(n,m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m
  
remainder(10,4)

2

In [4]:
#Lists

pi = 3.14159
varList = [1,2,'A', 'B','Hello!',pi]
print(varList[0])

print(varList[4])

varList.append('World!')
print(varList[6])

len(varList)

print(varList[5])

varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

In [3]:
#Dictionaries

var = "Hello World!"
varDict={'first': 123,2 : 'abc','3': var,4:['lista','listb']}
print(varDict['first'])
print(varDict[2])
print (varDict['3'])
print(varDict[4])
print(varDict[4][1])
len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

In [2]:
#List Generators and Comprehension

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num 
    num +=1 
gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num+= 2

varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0,5,2)
print([var for var in varList])

[0, 1, 2, 3, 4]
[0, 2, 4]
[0, 2, 4]

In [1]:
#Slicing

varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])      #end:

print(varList[5:])      #start:

print(varList[:-2])      

print(varList[-2:])

print(varList[2:-2])    #start:end

print(varList[2:8:2])  #start:end:step

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]